{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resetpassword</title>
    <!-- Link to the external CSS file -->
     <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Navbar Section -->
    <div id="navbar">
        <!-- Logo Image -->
        <img src="{% static 'image/Vignan.jpg' %}" alt="Vignan" width="270" height="100">
        <!-- Navigation Menu -->
        <nav>
            <ul class="menu">
                <!-- Home Link with Active Class -->
                
                <li ><a href="#home">Home</a></li>
                <!-- Other Navigation Links -->
                <li><a href="#acadmics">Acadmics</a></li>
                <li><a href="#admision">Admision</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </div>

    <!-- Content Section -->
    <div class="content">
        <!-- Form Section -->
        <form action="/action.php">
            <!-- Name Input Field -->
            <input type="tel" placeholder="Enter Phone No." required>
            <br>
            <!-- Submit Button -->
            <input type="submit" value="Generate OTP">
            <input type="number" id="otp" name="otp" placeholder="OTP" required>
            <br><br>
            <!-- Submit Button -->
            <input type="submit" value="Submit">
            <br><br>
           
        </form>
    </div>
</body>
</html>
